.bikeCard {
  --footerHeight: calc(var(--m) * 7);

  background-color: #fff;
  border-radius: calc(var(--m) * 2);
  padding: calc(var(--m) * 3);
  display: block;
}

.bikeCardPreview {
  display: block;
  margin-bottom: calc(var(--m) * 2);
}

.bikeCardPreview img {
  width: 100%;
}

.bikeCardFooter {
  display: none;
  padding-top: calc(var(--m) * 1.5);
  height: var(--footerHeight);
}

.bikeCard:hover {
  position: relative;
  box-shadow: 2px 2px calc(var(--m) * 1) rgb(0 0 0 / 10%);
  margin-bottom: calc(var(--footerHeight) * -1);
}

.bikeCard:hover .bikeCardFooter {
  display: block;
}

.bikeCardNoFooter:hover {
  margin-bottom: 0;
}

.bikeCardHover {
  cursor: pointer;
}
