.bike {
  display: flex;
}

.content {
  flex-grow: 1;
  margin-right: calc(var(--m) * 2);
}

.aside {
  flex-shrink: 0;
  width: calc(var(--m) * 32);
}

.subheader {
  margin: calc(var(--m) * 8) 0 calc(var(--m) * 2);
}

.importantText {
  font-size: 2.5rem;
  font-weight: 700;
  margin: calc(var(--m) * 1) 0 calc(var(--m) * 2);
}
