:root {
  --m: 8px;
  --colorBgLight: #fff;
  --colorTextWarning: #d97e00;
  --colorTextError: #cb3d35;
  --headerHeight: calc(var(--m) * 15);
  --footerHeight: 67px;
  --catalogHeaderHeight: 40px;
}

html[data-theme='dark'] {
  --colorMain: #fff;
  --colorLink: rgb(255, 255, 255);
  --colorBorder: #f6f6f6;
  --colorRadio: rgba(255, 255, 255, 0.2);
  --colorTextSecondary: #f6f6f6;
  --colorBgWhite: #181818;
  --colorBgCard: #353535;
  --colorShadow: rgba(255, 255, 255, 0.7);
}

html[data-theme='light'] {
  --colorMain: #222;
  --colorLink: rgb(54, 106, 243);
  --colorBorder: #ebebeb;
  --colorRadio: rgba(0, 0, 0, 0.09);
  --colorTextSecondary: #858585;
  --colorBgWhite: #fff;
  --colorBgCard: #fff;
  --colorShadow: rgba(0, 0, 0, 0.1);
}
