.container {
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1900px;
}

.catalog {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 290px));
}
