.app {
  --pad: calc(var(--m) * 12);

  min-height: 100%;
  min-width: 1280px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
}

.header {
  position: sticky;
  top: 0;
  padding: calc(var(--m) * 4) var(--pad) calc(var(--m) * 3);
  background-color: #fff;
  box-shadow: 0 0 calc(var(--m) * 2) rgb(0 0 0 / 10%);
  z-index: 10;
}

.content {
  display: flex;
  align-items: center;
  max-width: calc(1900px - calc(var(--pad) * 2));
  margin: 0 auto;
}

.headerButtons {
  margin-left: auto;
  display: block;
}

.headerButtons > * {
  margin-left: var(--m);
}

.main {
  padding: calc(var(--m) * 2) var(--pad) calc(var(--m) * 5);
}

.footer {
  padding: 0 var(--pad);
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.875rem;
  color: #eee;
  border-top: 1px solid var(--colorBorder);
  padding: calc(var(--m) * 3) 0;
}

.footerLink {
  color: var(--colorTextSecondary);
}
